* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.second-box {
    background-color: white;
    color: black;
}


.paragraph {
    justify-content: center;
    align-items: center;
    
    margin-top: 70px;
    margin-left: 230px;
}

.second-box h2 {

    margin-left: 450px;
}





.icons img {
   
    filter: drop-shadow(0 0 10px red);
}

body {
    background-color: white;
}


