* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
}


.top h2 {
    margin-left: 280px;
     padding: 40px 90px;
    margin-bottom: 10px;
    margin-top: 80px;
}

.top p {
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    font-size: 15px;
    margin-top: 30px;
    
    width: 1000px;
    padding: 30px;
}
.third-box {
    background-image: url(images/headphones_hero_2.jpg);
    color: white;
}


.text-on-image {
    display: flex;
    flex-direction: row;
    padding: 90px;
    margin-top: 0px;
    justify-content: space-between;
    size: 300px;
}


.toi {
    position: relative;
    

} 

.lo {
    font-size: 8px;
    margin-left: 5px;
}

.tom {
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-size: 13px;
    margin-top: 60px;
}


.text {
    left: 200px;
    font-size: 23px;
    margin-left: 20px;
    margin-top: 80px;
}

.top long {
    margin-left: 690px;
}